<html>
    <title>
        home page 
    </title>
    <body>
        <div style="height: 50px;background-color: gray;padding: 10px;margin: -10px;">
            <ul>
                <li style="display: inline;">
                    <a href="/home" style="text-decoration: none;margin-right: 20px;">Home</a>
                </li>
                <li style="display: inline;">
                    <a href="/about" style="text-decoration: none;">About</a>
                </li>
            </ul>
        </div>
        <h1 style="text-align: center;">all the best</h1>
        <b><h1 style="display: inline;">Welcome &nbsp;</h1><%=stname%></b>
    </body>
</html>